.sidebar {
    background-color: #f1f1f1;
    padding: 20px;
    height: 100vh;
  }
  
  .logo img {
    max-width: 150px;
    margin-bottom: 30px;
  }
  
  .nav .nav-link {
    color: #333;
    padding: 10px 20px;
  }
  
  .nav .nav-link.active,
  .nav .nav-link:hover {
    background-color: #e6e6e6;
    color: #333;
  }
  
  .nav .nav-link i {
    margin-right: 10px;
  }
  
  .main-content {
    padding: 20px;
  }
  
  .table td {
    vertical-align: middle;
  }
  
  .table td .btn {
    margin-right: 5px;
  }
  .product {
    margin: 40px 0;
  }
  
  
         /* Thêm thư mục */
  
  .mb10 input{
  width: 700px;
  }
  .mb20 input{
    width: 100px;
  }